@import '../helpers/reset.css';

@font-face {
  font-family: 'Kyiv Type';
  src: url('fonts/kyivtype/KyivTypeTitling-Medium.eot');
  src: url('fonts/kyivtype/KyivTypeTitling-Medium.eot') format('embedded-opentype'),
    url('fonts/kyivtype/KyivTypeTitling-Medium.woff2') format('woff2'), url('fonts/kyivtype/KyivTypeTitling-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kyiv Type';
  src: url('fonts/kyivtype/KyivTypeTitling-Medium.eot');
  src: url('fonts/kyivtype/KyivTypeTitling-Medium.eot') format('embedded-opentype'),
    url('fonts/kyivtype/KyivTypeTitling-Medium.woff2') format('woff2'), url('fonts/kyivtype/KyivTypeTitling-Medium.woff') format('woff');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Kyiv Type';
  src: url('fonts/kyivtype/KyivTypeTitling-Heavy.eot');
  src: url('fonts/kyivtype/KyivTypeTitling-Heavy.eot') format('embedded-opentype'),
    url('fonts/kyivtype/KyivTypeTitling-Heavy.woff2') format('woff2'), url('fonts/kyivtype/KyivTypeTitling-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
